opencv-contrib-python
opencv-python
streamlit
streamlit-modal
streamlit-option-menu
text2emotion
textblob
nltk
fer
flair
requests
requests-oauthlib
plotly
Pillow
asyncio
opencv-contrib-python
opencv-python-headless
tensorflow
sacremoses
